<p>あぶすとパスワードリセット</p>

<p>パスワードを変更するには、以下のリンクを押してください。</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>もしこのメールに心当たりがないようでしたら、このメールを削除してください。</p>
<p>パスワードは、リンクから新しいパスワードを設定しない限り変更されません。</p>
